<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <img src="../static/images/heart_break.jpg" style="width:100%;height:600px;" />
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-12">
                <h1>Speed Dating Match Predictor</h1>
            </div>
        </div>

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('index') }}">Match Predictor<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Research Analytics
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('Python') }}">Using Python</a>
                                <a class="dropdown-item" href="{{ url_for('R') }}">Using R</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('Futures') }}">Future Work<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('Cont') }}">Contact Us<span
                                    class="sr-only">(current)</span></a>
                        </li>

                    </ul>

                </div>
            </nav>

            <!-- Header -->
            <header class="masthead">
                <div class="container">
                    <div class="intro-text">
                        <div class="intro-lead-in">Prediction:</div>
                        <div class="intro-heading text-uppercase">{{ Result }}</div>
                        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
                            href="{{ url_for('index')}}">Try Another Search</a>
                    </div>
                </div>
            </header>

            <div class="row">

                    <div class="col-sm-6">
                        <h3>Relax, come to one of our retreats instead. Good wine there, and a lot of eligible
                            bachelors!</h3>
                    </div>
                    <div class="col-sm-6">
                        <h3>If that does not interest you, contemplate getting a furry friend to keep you company.</h3>
                    </div>
            </div>

                    <div class="row">
                            <div class="col-sm-6">
                                <img src="../static/images/wine_solo.jpg" style="width:500px;height:500px;" />
                            </div>
                            <div class="col-sm-6">
                                <img src="../static/images/black_cat.jpg" style="width:500px;height:500px;" />
                            </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>

</html>